:root {
    --font-dark-color: #000000;
    --font-light-color: #adadad;

    --border-color: #c4e6e7;

    --background-color: #242125;
    --background-element-color: #5f5b64;
    --background-element-dark-color: #413a42;
}

body {

    background-color: var(--background-color);
}

.content {
    padding: 20px;
    padding-top: 40px;
}
