:root {
    --background-color: #dedede;
    --background-element-color: #cecece;
    --background-element-dark-color: #aeaeae;
}

body {

    background-color: var(--background-color);
}

.content {
    padding: 20px;
    padding-top: 40px;
}
